qualitaAcqueXSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="acquadotti">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="infoAcq" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codAcq">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codice" type="xs:string"/>
                    <xs:element name="classe">
                      <xs:complexType>
                        <xs:attribute name="nome" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="acquedotto" type="xs:string"/>
              <xs:element name="comune" type="xs:string"/>
              <xs:element name="siglaProv" type="xs:string"/>
              <xs:element name="cap" type="xs:string"/>
              <xs:element name="codProd" type="xs:string"/>
              <xs:element name="produttore" type="xs:string"/>
              <xs:element name="luogoPrel" type="xs:string"/>
              <xs:element name="etichetta" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
