qualitaAcqueXSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="acquadotti">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="infoAcq" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codAcq" type="xs:string" maxOccurs="1"/>
              <xs:element name="acquedotto" type="xs:string" maxOccurs="1"/>
              <xs:element name="comune" type="xs:string" maxOccurs="1"/>
              <xs:element name="siglaProv" type="xs:string" maxOccurs="1"/>
              <xs:element name="cap" type="xs:string" maxOccurs="1"/>
              <xs:element name="codProd" type="xs:string" maxOccurs="1"/>
              <xs:element name="produttore" type="xs:string" maxOccurs="1"/>
              <xs:element name="luogoPrel" type="xs:string" maxOccurs="1"/>
              <xs:element name="etichetta" type="xs:string" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>